<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Home | C'Groovy</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">C'Groovy</a>
            </div>
            <div class="gapper">
                <nav>
                    <ul>
                        <li><a class="cur-page" href="../view/index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="../view/sc.html">Song Collection</a>
                            <ul class="dropdown-content">
                                <li><a href="../view/pop.html">Pop</a></li>
                                <li><a href="../view/rnb.html">R&B</a></li>
                                <li><a href="../view/kpop.html">K-Pop</a></li>
                            </ul>
                        </li>
                        <li><a href="../view/au.html" >About Us</a></li>
                    </ul>
                </nav>
                <a href="../view/login.html" class="lgn-btn">Join Us</a>
            </div>
        </div>
    </header>

    <section id="carousel">
        <div class="container">
            <ul class="gallery">
                <li><img src="../assets/carousel1.png"></li>
                <li><img src="../assets/carousel2.png"></li>
                <li><img src="../assets/carousel3.png"></li>
                <li><img src="../assets/carousel4.png"></li>
                <li><img src="../assets/carousel5.png"></li>
            </ul>
        </div>
    </section>

    <section id="featured">
        <div class="container">
            <h1>Most Loved Track Of The Week Only On C’Groovy</h1>
            <h4>Explore tracks that have been catching listeners attentions and making them comfertable</h4>
            <h2>Featured Songs</h2>
            <div id="album-rotator">
                <div id="album-rotator-holder">
                    <div class="album-item" id="featured1">
                        <div class="album-details">
                            <div class="top-content">
                                <img src="../assets/pop/ed.png">
                                <p class="sn">Remember The Name</p>
                                <p class="subtitle">Ed Sheeran</p>
                            </div>
                            <div class="album-details-saperator">
                                <p>#01</p>
                                <a href="#" class="song-btn">Learn More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="album-item" id="featured2">
                        <div class="album-details">
                            <div class="top-content">
                                <img src="../assets/pop/niall.png">
                                <p class="sn">Black and White</p>
                                <p class="subtitle">Niall Horan</p>
                            </div>
                            <div class="album-details-saperator">
                                <p>#02</p>
                                <a href="#" class="song-btn">Learn More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="album-item" id="featured3">
                        <div class="album-details">
                            <div class="top-content">
                                <img src="../assets/kpop/seventeen.png">
                                <p class="sn">Shadow</p>
                                <p class="subtitle">Seventeen</p>
                            </div>
                            <div class="album-details-saperator">
                                <p>#03</p>
                                <a href="#" class="song-btn">Learn More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="album-item" id="featured4">
                        <div class="album-details">
                            <div class="top-content">
                                <img src="../assets/rnb/teo.png">
                                <p class="sn">​Close with desires</p>
                                <p class="subtitle">Teo Glacier</p>
                            </div>
                            <div class="album-details-saperator">
                                <p>#04</p>
                                <a href="#" class="song-btn">Learn More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="album-item" id="featured5">
                        <div class="album-details">
                            <div class="top-content">
                                <img src="../assets/pop/wdw.png">
                                <p class="sn">Fallin' (Adrenaline)</p>
                                <p class="subtitle">Why Don't We</p>
                            </div>
                            <div class="album-details-saperator">
                                <p>#05</p>
                                <a href="#" class="song-btn">Learn More -></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 C'Groovy. All rights reserved</p>
            <div class="social">
               <a href="#">Instagram</a>
               <a href="#">Twitter</a>
               <a href="#">Facebook</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../script/logic.js"></script>
</body>
</html>