<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Genre - K-Pop | C'Groovy</title>
  <link rel="stylesheet" href="../style/style.css" />
</head>
<body>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="logo">
        <a href="../view/index.html">C'Groovy</a>
      </div>
      <div class="gapper">
        <nav>
          <ul>
            <li><a href="../view/index.html">Home</a></li>
            <li class="dropdown">
              <a class="cur-page" href="#">K-Pop</a>
              <ul class="dropdown-content">
                <li><a href="../view/sc.html">Song Collection</a></li>
                <li><a href="../view/pop.html">Pop</a></li>
                <li><a href="../view/rnb.html">R&B</a></li>

              </ul>
            </li>
            <li><a href="../view/au.html">About Us</a></li>
          </ul>
        </nav>
        <a href="../view/login.html" class="lgn-btn">Join Us</a>
      </div>
    </div>
  </header>

  <!-- Banner Genre -->
   <section id="song-detail" class="genre-section">
    <div class="container">
      <div class="genre-banner">
        <img src="../assets/kpop.png" alt="Genre Banner" class="genre-banner-img" />
        <div class="genre-banner-text">
          <p class="genre-type">Genre</p>
          <h1 class="genre-title">K-Pop</h1>
          <div class="genre-info">
            <span class="genre-deskripsi">Korean pop with catchy beats and dynamic visuals.</span>
            <span class="genre-dot">•</span>
            <span>Total Songs: 5</span>
          </div>
        </div>
      </div>
      <div class="song-detail-body genre-grid">
 <div class="album-card" id="song11">
                          <div class="album-content">
                              <div class="album-top">
                                  <img src="../assets/kpop/whiplash.png" alt="Album Image" />
                                  <p class="track-title">Whiplash</p>
                                  <p class="artist-name">Aespa</p>
                                  <p class="short-description" id="desc11">A heartfelt pop ballad about vulnerability and heartbreak.</p>
                              </div>
                              <div class="album-footer">
                                  <a href="#" class="learn-more-btn">Learn More →</a>
                              </div>
                          </div>
                      </div>
      
                      <div class="album-card" id="song12">
                          <div class="album-content" >
                              <div class="album-top">
                                  <img src="../assets/kpop/enhypen.png" alt="Album Image" />
                                  <p class="track-title">Shout Out</p>
                                  <p class="artist-name">ENHYPEN</p>
                                  <p class="short-description" id="desc12"> high energy anthem that encourages self-expression and freedom in life.</p>
                              </div>
                              <div class="album-footer">
                                  <a href="#" class="learn-more-btn">Learn More →</a>
                              </div>
                          </div>
                      </div>

                      <div class="album-card" id="song13">
                          <div class="album-content">
                              <div class="album-top">
                                  <img src="../assets/kpop/seventeen.png   " alt="Album Image" />
                                  <p class="track-title">Shadow</p>
                                  <p class="artist-name">Seventeen</p>
                                   <p class="short-description" id="desc13">The track’s rhythmic 2-step roots contrast with the weighty theme of embracing our inner shadows.</p>
                              </div>
                              <div class="album-footer">
                                  <a href="#" class="learn-more-btn">Learn More →</a>
                              </div>
                          </div>
                      </div>

                      <div class="album-card" id="song14">
                          <div class="album-content">
                              <div class="album-top">
                                  <img src="../assets/kpop/dududu.png" alt="Album Image" />
                                  <p class="track-title">뚜두뚜두 (DDU-DU DDU-DU)</p>
                                  <p class="artist-name">BLACKPINK</p>
                                  <p class="short-description" id="desc14">The girls are unapologetically savage. They’re not shy about letting you know about the success they’ve amassed.</p>
                              </div>
                              <div class="album-footer">
                                  <a href="#" class="learn-more-btn">Learn More →</a>
                              </div>
                          </div>
                      </div>

                        <div class="album-card" id="song15">
                          <div class="album-content">
                              <div class="album-top">
                                  <img src="../assets/kpop/nct.png" alt="Album Image" />
                                  <p class="track-title">Life Is Still Going On</p>
                                  <p class="artist-name">NCT</p>
                                  <p class="short-description" id="desc14">Uplifting song with bright melodies and reassuring lyrics that remind listeners to keep going, even through tough times.</p>
                              </div>
                              <div class="album-footer">
                                  <a href="#" class="learn-more-btn">Learn More →</a>
                              </div>
                          </div>
                      </div>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2025 C'Groovy. All rights reserved</p>
      <div class="social">
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
      </div>
    </div>
  </footer>
    <script src="../script/detail.js"></script>
</body>
</html>
